<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <body>
            <p style='font-size: 13px;'>
                Hi {{ user.first_name }},<br>
            </p>   
            
            <p style='font-size: 13px; color: #222222;'>
                Welcome to Datasphir MentorHub,
                You are one step away from activating your account, Use the link below to verify your email
            </p>
            <p style='font-size: 19px; color: #222222;'>
                <a href="{{ absurl }}">Verify your email</a>
            </p>
            <br>
            <p>
                Best wishes,<br>
               Datasphir MentorHub
            </p>
    </div>
</body>
</html>